<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">All Roles</h3>
    </div>

    <div class="card-body">
        <a href="<%=pageData.addRoleURL%>" class="btn btn-primary pull-right mb-4"><i class="fas fa-plus-circle mr-1"></i>Add Role</a>
        <div id="server-message"></div>
        <div class="table-responsive">
            <table id="database-data-list" class="table table-bordered table-hover table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">Role Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="col">Role Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>

<div class="modal fade" id="deleteRoleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Role</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete this role? Please click on confirm.</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" id="submitButtonClick">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    var getDataFromDataBase = "<%=pageData.roleDataURL%>";
</script>