[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:hover {
	background-color: #007bff;
	color: #fff;
}

.main-header .navbar-nav .nav-item .dropdown-menu .profile-head {
	height: 110px;
    padding: 10px;
	text-align: center;
	background-color: #3c8dbc;
}

.main-header .navbar-nav .nav-item .dropdown-menu .profile-footer {
	background-color: #f9f9f9;
    padding: 10px;
}
.main-header .navbar-nav .nav-item .dropdown-menu .profile-head > p {
    z-index: 5;
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    margin-top: 20px;
}

.pull-left {
    float: left!important;
}

.pull-right {
    float: right!important;
}

.copyright a {
    color: #c7c7c7;
}

.copyright a:hover {
    color: #00ad5f;
}

.copyright p {
    cursor: default;
}